/* create 3d effect and new style */

/* navigation section start*/
.my-nav {
    /* background-color: #972fff; */
    color: rgb(29, 24, 24);
}

.my-nav-heading {
    width: 50%;
}

.f-name {
    color: rgb(40, 38, 38);
    font-size: 2rem;
    /* border: 2px solid black; */

}
.nav-link {
    /* background-color: #972fff; */
    /* color: white; */
    font-size: 1.5rem;
   
    /* border: 5px solid cornflowerblue; */
    padding: 10px;
    margin: 10px;
    
}
/* 
.my-nav-link {
    width: 20%;
    font-size: 1.5rem;
    color: white;
} */

.nav-sub-link {
    background-color: orange;
}
.my-text-size{

    font-size: 1.4rem;
}

/* navigation section end*/
/* media queries */
/* 
Break-points:
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px 
*/
/* button on the jumbotron */


.my-aboutme-row
{
    border-left: 3px solid orangered;
}